.main{
    border: 2px black solid;
}

.menu-images{
    border: 2px solid red;
    height: auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgs{
    display: flex;
    border: rgb(109, 251, 93) solid 2px;
    width: 70%;
}

.imgs img{
    max-width: 100%;
}