*{
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* Make body full screen height */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Push footer to bottom */
}


.slideshow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slideshow-container {
    position: relative;
    width: 60%;
    max-width: 800px;
    height: 500px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slideshow-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    position: absolute;
    top: 50%;            /* Center vertically */
    left: 50%;           /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset to fully center */
    transition: opacity 1s ease;
    opacity: 0;
  }
  


/* Footer */
.footer {
    background: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bottom-row {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap */
    justify-content: space-around; /* Spread content evenly */
    max-width: 1300px; /* Limit maximum width */
    width: 100%; /* Ensure full width */
}

.bottom-cols {
    flex: 0 1 300px; /* Allow items to grow, shrink, and have a preferred width */
    max-width: 300px; /* Limit maximum width */
}

.bottom-cols p{
    margin-top: 5px;
    margin-bottom: 5px;
}