*{
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

#events-container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: #333;
}

.event-card {
    display: flex; /* Use flexbox to arrange children */
    border: 1px solid #ccc; /* Optional: add a border */
    border-radius: 8px; /* Optional: rounded corners */
    overflow: hidden; /* Optional: to hide overflow */
    margin: 10px; /* Optional: spacing between cards */
}

.event-card img {
    width: 50%; /* Take up half the width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px;
}

.p-container p{
    margin: 10px;
}


@media (max-width: 600px) {
    .event-card {
        flex-direction: column; /* Stack image and text on smaller screens */
    }
    
    .event-card img {
        width: 100%; /* Full width on small screens */
        height: auto; /* Maintain aspect ratio */
    }
}
