
body{  
    background-image: url('/src/images/cover.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh; /* Make body full screen height */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Push footer to bottom */
}


/* Footer */
.footer {
    background: white;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.bottom-row {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap */
    justify-content: space-around; /* Spread content evenly */
    max-width: 1300px; /* Limit maximum width */
    width: 100%; /* Ensure full width */
}

.bottom-cols {
    flex: 0 1 300px; /* Allow items to grow, shrink, and have a preferred width */
    max-width: 300px; /* Limit maximum width */
}

.bottom-cols p{
    margin-top: 5px;
    margin-bottom: 5px;
}