.backgroundimage{  
    background-image: url('../images/cover.jpeg');
    background-size: cover;       /* Scale image to cover entire div */
    background-position: center;  /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    height: 90.4vh;                /* Or whatever height you need */
}


