.menu-images{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container{
    display: flex;
    width: 96%;
    justify-content: space-around;
}

.left-img, .right-img{
    width: 20%;
    padding: 10px;
}

.imgs{
    width: 60%;
}

.left-img img, .imgs img, .right-img img{
    max-width: 100%;
    border-radius: 8%;
}

#leftimg2{
    position: relative;
    top: 240px;
}

#rightimg1{
    position: relative;
    top: 240px;
}

#rightbottom{
    position: relative;
    top: 800px;
}


/* Media queries for responsive design */

@media (max-width: 768px) { /* tablets */
    .imgs{
        height: 30vw;
    }
}

@media (max-width: 480px) { /* mobile phones */
    .image-container{
        flex-direction: column;
    }
    .left-img, .right-img{
        width: 100%;
        margin-bottom: 20px;
    }
    .imgs{
        width: 100%;
        height: 50vw;
    }
}