.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-images {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 100%; /* or set a specific width, e.g., 300px */
    height: auto; /* Set a specific height if needed */
    overflow: hidden; /* Ensures image doesn't overflow */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.imgs img {
    width: 100%; /* Keeps image responsive within container */
    height: auto; /* Maintains aspect ratio */
    object-fit: contain; /* Or 'cover' if you want it to fill the container */
}

